.App {
    background-color: #282c34;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.error-popup {
    position: absolute;
    right: 0;
    bottom: 0;
}

.page-header{
    padding-bottom: 30px;
}